<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style type="text/css">


    .note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

#login{
        margin-left: 500px;
    margin-top: 30px;
}
</style>

<form method="get" action="/login">
    <button type="submit" class="btnSubmit" id="login">Login Administrator</button>
</form>




  <form method="POST" action="/">
      {% csrf_token %}
     <div class="container register-form">
            <div class="form" style="margin-top:20px">
                <div class="note">
                    <p>Employee Register Form </p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" name="your_firstname" class="form-control" placeholder="Your FirstName *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" name="your_lastname"  class="form-control" placeholder="Your LastName *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" name="date_birth"  class="form-control" placeholder="Date of Birth  *" value=""/>
                            </div>
                             <div class="form-group">
                                <input type="number" name="phone_no"  class="form-control" placeholder="Phone Number *"  value=""/>
                            </div>


                        </div>

                  <div class="col-md-3">
                       <div class="form-group">
                                <input type="text" name="emailid"  class="form-control" placeholder="Email Id *" value=""/>
                            </div>
                    <div class="form-group">
                                <input type="text" name="your_location"  class="form-control" placeholder="Location *" value=""/>
                            </div>

                        <div class="form-group">
                                <input type="text" name="your_organisation"  class="form-control" placeholder="Your organisation *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" name="your_experience"  class="form-control" placeholder="Your experience *" value=""/>
                            </div>


                  </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" name="your_relevant_experience"  class="form-control" placeholder="Your relevant experience *" value=""/>
                            </div>

                            <div class="form-group">
                                <input type="text" name="your_designation"  class="form-control" placeholder="Your designation *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" name="your_skill" class="form-control" placeholder="Your Skills *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" name="nationality"  class="form-control" placeholder="Nationality *" value=""/>
                            </div>
                        </div>
                    </div>

                        <button type="submit" class="btnSubmit">Submit</button>


                </div>
            </div>
        </div>
  </form>